{% extends '_base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p>You are logged in as {{ user }}</p>
  {% else %}
    <p>You are logged out</p>
  {% endif %}
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %} {{ form.as_p }}
    {% if user.is_authenticated %}
      <button><a href="{% url 'logout' %}">Logout</a></button>
    {% else %}
      <input class="px-7 py-2 bg-green-400 hover:cursor-pointer hover:bg-green-300 rounded" type="submit" value="Login" />
    {% endif %}

    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
